global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nest-app'
    metrics_path: '/metrics' # Assumes you expose @willsoto/nestjs-prometheus here
    static_configs:
      - targets: ['host.docker.internal:3000']
